.bg-light-gray {
    background-color: #EFEAEA;
}

.reunião {
    width: 80%;
    height: 80%;
    margin-top: 5%;
    border-radius: 5%;
}

.custom-heading {
    margin-left: 10%;
    font-family: 'Judson', serif;
}

.custom-font-size {
    font-family: 'Inter', sans-serif;  
    font-size: 1rem;
    margin: 6%;  
    text-align: left;
}