.with-background {
    background-image: url('../../assets/imgs/meeting-img.png');
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.willianlima {
margin-left: 20%;
}
 
@media (min-width: 568px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}

@media (min-width: 1400px) {}