.titulo {
  color: white;
}

.lead {
  color: white;
}

/* body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
}  */

.container-fluid.mb-0 {
  display: flex;
  flex-direction: column;
}

.titulo {
  margin-top: -40%;
  font-size: 4em;
  font-family: 'Kanit', sans-serif;
}

.lead {
  margin-top: 4%;
  font-size: 2.5em;
  font-family: 'Kanit', sans-serif;
}

.button {
  padding: 4%;
  width: 120%;
  margin-top: 20%;
  border-radius: 3%;
}

@media screen and (min-width: 576px) {
  .woman {
    margin-top: 62%;
    margin-left: 100%;
  }

  .geo {
    margin-left: 110%;
    margin-top: -120%;
  }

  .button {
    margin-top: -40%;
    width: 100%;
    margin-left: -1%;
  }

  .lead {
    font-size: 2em;
    margin-top: 10%;
    margin-left: 30%;
  }

  .titulo {
    margin-top: 20%;
    font-size: 3em;
    margin-left: 30%;
  }

  @media screen and (min-width: 768px) {
    .woman {
      margin-left: 220%;
      margin-top: 64%;
    }

    .d-flex.bg-dark {
      width: 900px;
      height: 600px;
    }

    .titulo {
      margin-top: -80%;
      font-size: 4em;
      margin-left: 6%;
    }

    .lead {
      margin-left: 6%;
      font-size: 2em;
      margin-top: 5%;
    }

    .button {
      width: 750%;
      margin: 10%;
      margin-top: 100%;
      border-radius: 6%;
    }

    .geo {
      margin-left: 165%;
      margin-top: -100%;
      width: 50%;
    }
  }

  @media screen and (min-width: 992px) {
    .woman {
      margin-left: 110%;
      margin-top: 25%;
    }

    .titulo {
      margin-top: -200%;
      font-size: 5em;
      width: 250%;
    }

    .lead {
      font-size: 2em;
      width: 350%;
      margin-top: 30%;
    }

    .button {}

    .geo {
      margin-left: 130%;
      margin-top: -230%;
    }
  }
}