.titulo {
  color: white;
}

.lead {
  color: white;
}

.titulo {
  margin-top: -40%;
  font-size: 4em;
  font-family: 'Kanit', sans-serif;
}

.lead {
  margin-top: 4%;
  font-size: 2.5em;
  font-family: 'Kanit', sans-serif;
}

.button {
  padding: 4%;
  width: 120%;
  margin-top: 20%;
  border-radius: 3%;
}

.woman {
  margin-top: 50%;
}

@media screen and (max-width: 575px) {

  .d-flex.bg-dark {
    height: 1090px;
  }

  .titulo {
    margin-top: 20%;
  }

  .lead {
    margin-top: 10%;
  }

  .button {
    margin-top: -1%;
    width: 100%;
  }
  .woman {
    margin-left: 80%;
    width: 60%;
    margin-top: 90%;
  }
}

@media screen and (min-width: 576px) {
  .woman {
    margin-top: 62%;
    margin-left: 100%;
  }

  .geo {
    margin-left: 110%;
    margin-top: -120%;
  }

  .button {
    margin-top: -40%;
    width: 100%;
    margin-left: -1%;
  }

  .lead {
    font-size: 2em;
    margin-top: 10%;
    margin-left: 30%;
  }

  .titulo {
    margin-top: 20%;
    font-size: 3em;
    margin-left: 30%;
  }

  @media screen and (min-width: 768px) {
    .woman {
      margin-left: 220%;
      margin-top: 57%;
    }

    .d-flex.bg-dark {
      width: 1000px;
      height: 600px;
    }

    .titulo {
      margin-top: -70%;
      font-size: 4em;
      margin-left: 6%;
    }

    .lead {
      margin-left: 6%;
      font-size: 2em;
      margin-top: 5%;
    }

    .button {
      width: 750%;
      margin: 10%;
      margin-top: 100%;
      border-radius: 6%;
    }

    .geo {
      margin-left: 165%;
      margin-top: -100%;
      width: 50%;
    }
  }

  @media screen and (min-width: 992px) {

    .d-flex.bg-dark {
      width: 1200px;
      height: 700px;
    }

    .woman {
      margin-left: 180%;
      margin-top:45%;
      width: 55%;
    }

    .titulo {
      margin-top: -180%;
      font-size: 5em;
      width: 250%;
    }

    .lead {
      font-size: 2em;
      width: 350%;
      margin-top: 30%;
    }

    .button {
      margin-top: 10%;
      width: 150%;
      margin-left: 1%;
    }
  }

  @media screen and (min-width: 1200px) {
    .d-flex.bg-dark {
      width: 2000px;
      height: 900px;
    }

    .woman {
      margin-left: 135%;
      margin-top: 38%;
    }

    .titulo {
      margin-top: -450%;
      font-size: 5em;
      margin-left: 30%;
      width: 400%;
    }

    .lead {
      font-size: 3em;
      width: 95%;
      margin-top: 7%;
      margin-left: 9%;
    }

    .button {
      margin-top: 15%;
      width: 120%;
      margin-left: 6%; 
    }
  }
  @media screen and (min-width: 1400px) {
    .d-flex.bg-dark {
      width: 2000px;
      height: 900px;
    }

    .woman {
      margin-left: 175%;
      margin-top: 38%;
    }

    .titulo {
      margin-top: -30%;
      font-size: 5em;
      margin-left: 2%;
      width: 400%;
    }

    .lead {
      font-size: 3em;
      width: 95%;
      margin-top: 7%;
      margin-left: 9%;
    }

    .button {
      margin-top: 15%;
      width: 120%;
      margin-left: 6%;
      
    }
  }
  
}