.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  top: 20px;
  font-size: calc(10px + 2vmin);
}

.App-geometric {
  height: 10%;
  max-width: 100%;
  height: auto;
  margin-top: 25%;
}

.Title {
  margin: 9%;
  margin-right: 50%;
  margin-top: 10%;
}

.TextHeaderTitle {
  font-family: "Kanit";
  font-size: 3vw;
}

.TextJourney {
  font-size: 2vw;
  margin-top: 10%;
}

.button {
  margin-right: -600%;
  width: 100%;
  margin-top: 10%;
  position: relative;
  top: 2vh;
  border-radius: 10px;
  height: 15vh;
  font-family: "Inter";
  color: #333333;
  font-size: 2vw;
  padding-left: 10px;
}

.App-geometric {
  margin-top: -350%;
  width: 30vw;
  height: auto;
  margin-left: 70%;
  max-width: 200px;
}

@media screen and (max-width: 1210px) {
  .App-geometric {
    margin-top: -250%;
  }

}

@media screen and (max-width: 768px) {
  .App-geometric {
    margin-top: -250%;
  }
}